<form id="myForm" action="/itinerary" method="POST"
    class="flex flex-col items-center justify-center p-10 gap-5 bg-white rounded-lg mx-auto w-full max-w-sm lg:max-w-lg xl:max-w-xl">
    <h1 class="text-3xl mb-5 text-gray-900 lg:text-4xl">travelyst</h1>
    <input name="city" type="text" placeholder="Enter a City"
        class="px-3 py-2 mb-4 text-black bg-gray-100 rounded border-2 border-gray-300 lg:text-lg" required>
    <button id="submitButton" type="submit"
        class="px-4 py-2 text-white bg-pink-500 hover:bg-pink-700 font-bold rounded lg:text-lg">Submit</button>
    <div id="loading" class="w-6 h-6 border-t-2 border-b-2 border-pink-500 rounded-full animate-spin hidden"></div>
</form>

<script>
    document.getElementById('myForm').addEventListener('submit', function () {
        document.getElementById('submitButton').classList.add('hidden');
        document.getElementById('loading').classList.remove('hidden');
    });
</script>
