<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travelyst</title>
    <link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f6adc6;
            color: #ffffff;
            font-family: 'Handlee', cursive;
        }
    </style>
</head>
<body class="flex items-center justify-center h-screen">
    <%- body %>
</body>
</html>
